body {
	background: #ccc;
	font-family: Tahoma;
}

p {
	background:#fff;
	box-shadow: 0 2px 10px #333;
	margin:1em auto;
	padding: 1%
	width:90%;
}

footer {
	background: #08b;
	color:#fff;
	font-size: 1.2em;
	padding: 1%;
	text-align: center;
}